* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: italic;
}

body {
 
    
    background-color: #EEEEEE;
      height: 100vh;
}
.header{
    background-attachment: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}


nav {
display: flex;
justify-content: center;
gap: 30px;
  list-style: none;

}

nav a {
text-decoration: none;
color: black;
 font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease
}

nav a:hover {
    color: goldenrod;
}
.h2{
text-align: center;
font-style: italic;
}
.carrusel {
  position: relative;
  width: 80%;            
  max-width: 900px;    
  height: 250px;         
  margin: 0 auto;         
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  background-color: #000;
}

.imagenes {
  display: flex;
  transition: transform 0.7s ease;
}

.imagenes img {
  flex: 0 0 calc(100% / 3);  
  height: 250px;            
  object-fit: cover;
  border-radius: 10px;
}
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  z-index: 10;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.h1{
  text-align: center;
font-style: italic;
  font-size: 20px;            
  line-height: 1.6;           
  color: black;
  margin: 0;

}
.marca{
    text-align: center;
font-style: italic;
  font-size: 20px;            
  line-height: 1.6;           
  color: black;
  margin: 0;
  width: 100%;
  height: 100px;


}
.marca h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.ubicacion {
  width: 90%;
  max-width: 900px;          
  margin: 100px auto 100px auto;
  text-align: center;
  padding-top: 50px;           
}


.ubicacion h2 {
  font-size: 32px;
  margin-top: 40px;  

  margin-bottom: 15px;
  color: #333;
}


.ubicacion p {
  font-size: 18px;
  margin-top: 20px;   
  margin-bottom: 30px; 
  color: #555;
}


.ubicacion .ubi {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.3);
  overflow: hidden;
  width: 100%;
  height: 400px;       
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}


.ubicacion .ubi img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block;
  border-radius: 20px;
}


.ubicacion .ubi:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 50px rgba(0,0,0,0.35);
}

@media (max-width: 600px) {
  .ubicacion .ubi {
    height: 250px;     
  }
}





.site-footer {
  background: #1c1e28;
  color: #eee;
  padding: 50px 0 60px;
  margin-top: 50px;
}

.footer-inner {
  text-align: center;
  max-width: 1100px;
  margin: auto;
}

.footer-title {
  color: #f7c82a;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

.address {
  font-size: 15px;
  color: rgba(255,255,255,0.8);
  margin-bottom: 25px;
  line-height: 1.5;
}


.redes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}


.btn-red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background: #292b36;
  border-radius: 50%;
  border: 2px solid #f7c82a;
  text-decoration: none;
  transition: 0.25s;
}


.btn-red img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}


.btn-red:hover {
  transform: scale(1.1);
}


.facebook:hover {
  background: #1877f2;
}

.instagram:hover {
  background: #c13584;
}


.copyright {
  color: rgba(255,255,255,0.6);
  font-size: 13px;
}


@media (max-width: 600px) {
  .redes {
    flex-direction: row;
  }
}
.whatsapp-btn {
  position: fixed;
  right: 20px;           
  bottom: 40px;          
  width: 60px;
  height: 60px;
  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-btn img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

/* segunda pagina */
.header-completo {
  width: 100%;             
  height: auto;           
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-completo img {
  width: 100%;             
  height: 500px;            
  display: block;
}
.catalogo {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #ffffff;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.item {
    width: 250px;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.item h3 {
    margin: 10px 0 5px;
}

.item p {
    font-weight: bold;
    color: #444;
}


.catalogo2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #ffffff;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}


.item {
    width: 250px;
}


.item img {
    width: 100%;
    height: 350px;      
    object-fit: cover;  
    border-radius: 10px;
}

.item h3 {
    margin: 10px 0 5px;
}


.item p {
    font-weight: bold;
    color: #444;
}
.catalogo3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #ffffff;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}


.item {
    width: 250px;
}


.item img {
    width: 100%;
    height: 350px;     
    object-fit: cover; 
    border-radius: 10px;
}

.item h3 {
    margin: 10px 0 5px;
}

.item p {
    font-weight: bold;
    color: #444;
}













